<ul>
    <li><a href="sheng_ming">声明</a></li>

    <li><a href="README">什么是Ansible</a></li>

    <li><a href="chapter1">Ansible的架构</a>


        <ul>
            <li><a href="ansible_towerde_jia_gou">Ansible Tower的架构</a></li>
        </ul>
    </li>

    <li><a href="ansibleshang_shou">Ansible上手</a>


        <ul>
            <li><a href="an_zhuang_ansile">安装Ansile</a></li>

            <li><a href="ansiblede_zhu_ji_mu_lu_guan_li">Ansible管理哪些主机</a></li>

            <li><a href="ansibleyong_ming_ling_guan_li_zhu_ji">Ansible用命令管理主机</a></li>

            <li><a href="ansibleyong_jiao_ben_guan_li_zhu_ji">Ansible用脚本管理主机</a></li>

            <li><a href="ansiblemo_kuai_module">Ansible模块Module</a></li>
        </ul>
    </li>

    <li><a href="ansiblejin_jie">Ansible进阶</a>


        <ul>
            <li><a href="ansiblede_pei_zhi">ansible的配置</a></li>

            <li><a href="zhu_ji_mu_lu_guan_li">Host Inventory</a>


                <ul>
                    <li><a href="zhu_ji_mu_lu_fen_zu">远程主机的分组</a></li>

                    <li><a href="zhi_ding_lian_jie_de_can_shu">远程主机的连接参数和变量</a></li>

                    <li><a href="fen_zu_guan_li_wen_jian">按目录结构存储变量</a></li>
                </ul>
            </li>

            <li><a href="playbook">Ansible的脚本(Playbook)</a>


                <ul>
                    <li><a href="playbookji_ben_yu_fa">Playbook基本语法</a>


                        <ul>
                            <li><a href="zhu_ji_he_yong_hu">主机和用户(hosts&amp;user)</a></li>

                            <li><a href="tasks">执行的任务(Tasks)</a></li>

                            <li><a href="handler">响应事件(Handler)</a></li>
                        </ul>
                    </li>

                    <li><a href="bian_liang">变量</a>


                        <ul>
                            <li><a href="playbookzhong_shi_yong_bian_liang">Playbook中使用的变量</a></li>

                            <li><a href="zhu_ji_de_xi_tong_bian_liang">主机的系统变量(facts)</a></li>

                            <li><a href="zhu_ce_bian_liang">把运行结果当做变量使用</a></li>

                            <li><a href="tamplatezhong_shi_yong_bian_liang">文件模板中使用的变量</a></li>

                            <li><a href="yong_ming_ling_xing_chuan_di_can_shu">用命令行传递参数</a></li>
                        </ul>
                    </li>

                    <li><a href="includeyu_ju">重用playbook(include语句)</a></li>

                    <li><a href="roleyu_ju">playbook的“函数"(role语句)</a></li>

                    <li><a href="tiao_jian_xuan_ze">条件语句when</a></li>

                    <li><a href="loopxun_huan">循环语句loop</a></li>

                    <li><a href="blockkuai">块语句block</a></li>
                </ul>
            </li>

            <li><a href="mo_kuai_modules">更多的Ansible模块(Extra Modules)</a>


                <ul>
                    <li><a href="modulesde_fen_lei">Modules的分类</a></li>

                    <li><a href="extra_modulede_shi_yong_fang_fa">Extra module的使用方法</a></li>

                    <li><a href="ming_ling_xing_cha_kan_module_de_yong_fa">命令行查看module的用法</a></li>
                </ul>
            </li>

            <li><a href="zui_jia_shi_yong_fang_fa">最佳使用方法</a></li>
        </ul>
    </li>

    <li><a href="tui_jian_de_can_kao_zi_liao">推荐的参考资料</a>


        <ul>
            <li><a href="yamlyu_fa_ji_chu">YAML语法基础</a></li>

            <li><a href="dai_xu">待续</a></li>
        </ul>
    </li>
</ul>