<ul>
<li><a {% if page.url=="/sheng_ming.html" %} class="active" {% endif %} href="/sheng_ming">声明</a></li>
<li><a {% if page.url=="/demo.html" %} class="active" {% endif %} href="/demo">Demo视频</a></li>
<li><a {% if page.url=="/README.html" %} class="active" {% endif %} href="/README">什么是Ansible</a></li>
<li>
    <a {% if page.url=="/chapter1.html" %} class="active" {% endif %} href="/chapter1">Ansible的架构</a>
    <ul>
        <li><a {% if page.url=="/architecture/ansible_towerde_jia_gou.html" %} class="active" {% endif %} href="/architecture/ansible_towerde_jia_gou">Ansible Tower的架构</a></li>
    </ul>
</li>
<li>
    <a {% if page.url=="/begin/ansibleshang_shou.html" %} class="active" {% endif %} href="/begin/ansibleshang_shou">Ansible上手</a>
    <ul>
        <li><a {% if page.url=="/begin/an_zhuang_ansile.html" %} class="active" {% endif %} href="/begin/an_zhuang_ansile">安装Ansile</a></li>
        <li><a {% if page.url=="/begin/ansiblede_zhu_ji_mu_lu_guan_li.html" %} class="active" {% endif %} href="/begin/ansiblede_zhu_ji_mu_lu_guan_li">Ansible管理哪些主机</a></li>
        <li><a {% if page.url=="/begin/ansibleyong_ming_ling_guan_li_zhu_ji.html" %} class="active" {% endif %} href="/begin/ansibleyong_ming_ling_guan_li_zhu_ji">Ansible用命令管理主机</a></li>
        <li>
            <a {% if page.url=="/begin/ansibleyong_jiao_ben_guan_li_zhu_ji.html" %} class="active" {% endif %} href="/begin/ansibleyong_jiao_ben_guan_li_zhu_ji">Ansible用脚本管理主机</a>
            <ul>
                <li><a {% if page.url=="/begin/play_vs_playbook.html" %} class="active" {% endif %} href="/begin/play_vs_playbook">Play vs Playbook</a></li>
            </ul>
        </li>
        <li>
            <a {% if page.url=="/begin/ansiblemo_kuai_module.html" %} class="active" {% endif %} href="/begin/ansiblemo_kuai_module">Ansible模块Module</a>
            <ul>
                <li><a {% if page.url=="/begin/basic_module/module_list_details.html" %} class="active" {% endif %} href="/begin/basic_module/module_list_details">常用几个module的用法</a></li>
            </ul>
        </li>
    </ul>
</li>
<li>
    <a {% if page.url=="/advance/ansiblejin_jie.html" %} class="active" {% endif %} href="/advance/ansiblejin_jie">Ansible进阶</a>
    <ul>
        <li><a {% if page.url=="/advance/setting/ansiblede_pei_zhi.html" %} class="active" {% endif %} href="/advance/setting/ansiblede_pei_zhi">ansible的配置</a></li>
        <li>
            <a {% if page.url=="/advance/inventory/zhu_ji_mu_lu_guan_li.html" %} class="active" {% endif %} href="/advance/inventory/zhu_ji_mu_lu_guan_li">Host Inventory（主机清单）</a>
            <ul>
                <li><a {% if page.url=="/advance/inventory/zhu_ji_mu_lu_fen_zu.html" %} class="active" {% endif %} href="/advance/inventory/zhu_ji_mu_lu_fen_zu">远程主机的分组</a></li>
                <li><a {% if page.url=="/advance/inventory/zhi_ding_lian_jie_de_can_shu.html" %} class="active" {% endif %} href="/advance/inventory/zhi_ding_lian_jie_de_can_shu">远程主机的连接参数和变量</a></li>
                <li><a {% if page.url=="/advance/inventory/fen_zu_guan_li_wen_jian.html" %} class="active" {% endif %} href="/advance/inventory/fen_zu_guan_li_wen_jian">按目录结构存储变量</a></li>
            </ul>
        </li>
        <li>
            <a {% if page.url=="/advance/playbook/playbook.html" %} class="active" {% endif %} href="/advance/playbook/playbook">Ansible的脚本(Playbook)</a>
            <ul>
                <li>
                    <a {% if page.url=="/playbookji_ben_yu_fa.html" %} class="active" {% endif %} href="/playbookji_ben_yu_fa">Playbook基本语法</a>
                    <ul>
                        <li><a {% if page.url=="/advance/playbook/zhu_ji_he_yong_hu.html" %} class="active" {% endif %} href="/advance/playbook/zhu_ji_he_yong_hu">主机和用户(hosts&amp;user)</a></li>
                        <li><a {% if page.url=="/advance/playbook/tasks.html" %} class="active" {% endif %} href="/advance/playbook/tasks">执行的任务(Tasks)</a></li>
                        <li><a {% if page.url=="/advance/playbook/handler.html" %} class="active" {% endif %} href="/advance/playbook/handler">响应事件(Handler)</a></li>
                    </ul>
                </li>
                <li>
                    <a {% if page.url=="/advance/playbook/bian_liang.html" %} class="active" {% endif %} href="/advance/playbook/bian_liang">变量</a>
                    <ul>
                        <li><a {% if page.url=="/advance/playbook/playbookzhong_shi_yong_bian_liang.html" %} class="active" {% endif %} href="/advance/playbook/playbookzhong_shi_yong_bian_liang">Playbook中定义的变量</a></li>
                        <li><a {% if page.url=="/advance/playbook/zhu_ji_de_xi_tong_bian_liang.html" %} class="active" {% endif %} href="/advance/playbook/zhu_ji_de_xi_tong_bian_liang">远程节点的系统变量(facts)</a></li>
                        <li><a {% if page.url=="/advance/playbook/tamplatezhong_shi_yong_bian_liang.html" %} class="active" {% endif %} href="/advance/playbook/tamplatezhong_shi_yong_bian_liang">文件模板中使用的变量</a></li>
                        <li><a {% if page.url=="/advance/playbook/zhu_ce_bian_liang.html" %} class="active" {% endif %} href="/advance/playbook/zhu_ce_bian_liang">把Task的执行结果当做变量(注册变量)</a></li>
                        <li><a {% if page.url=="/advance/playbook/yong_ming_ling_xing_chuan_di_can_shu.html" %} class="active" {% endif %} href="/advance/playbook/yong_ming_ling_xing_chuan_di_can_shu">用命令行中传递变量</a></li>
                    </ul>
                </li>
                <li>
                    <a {% if page.url=="/advance/playbook/logic_control_statement.html" %} class="active" {% endif %} href="/advance/playbook/logic_control_statement">Playbok中的逻辑控制语句</a>
                    <ul>
                        <li><a {% if page.url=="/advance/playbook/tiao_jian_xuan_ze.html" %} class="active" {% endif %} href="/advance/playbook/tiao_jian_xuan_ze">条件语句when</a></li>
                        <li><a {% if page.url=="/advance/playbook/loopxun_huan.html" %} class="active" {% endif %} href="/advance/playbook/loopxun_huan">循环语句loop</a></li>
                        <li><a {% if page.url=="/advance/playbook/blockkuai.html" %} class="active" {% endif %} href="/advance/playbook/blockkuai">块语句block</a></li>
                    </ul>
                </li>
                <li>
                    <a {% if page.url=="/advance/playbook/reuse_playbook.html" %} class="active" {% endif %} href="/advance/playbook/reuse_playbook">如何重用Playbook</a>
                    <ul>
                        <li><a {% if page.url=="/advance/playbook/includeyu_ju.html" %} class="active" {% endif %} href="/advance/playbook/includeyu_ju">重用单个playbook文件(include语句)</a></li>
                        <li><a {% if page.url=="/advance/playbook/roleyu_ju.html" %} class="active" {% endif %} href="/advance/playbook/roleyu_ju">Playbook的“Package”(role语句)</a></li>
                    </ul>
                </li>
                <li><a {% if page.url=="/advance/playbook/tags_statement.html" %} class="active" {% endif %} href="/advance/playbook/tags_statement">利用tags执行部分tasks</a></li>
            </ul>
        </li>
        <li>
            <a {% if page.url=="/advance/module/mo_kuai_modules.html" %} class="active" {% endif %} href="/advance/module/mo_kuai_modules">更多的Ansible模块(Extra Modules)</a>
            <ul>
                <li><a {% if page.url=="/advance/module/modulesde_fen_lei.html" %} class="active" {% endif %} href="/advance/module/modulesde_fen_lei">Modules的分类</a></li>
                <li><a {% if page.url=="/advance/module/extra_modulede_shi_yong_fang_fa.html" %} class="active" {% endif %} href="/advance/module/extra_modulede_shi_yong_fang_fa">Extra module的使用方法</a></li>
                <li><a {% if page.url=="/advance/module/ming_ling_xing_cha_kan_module_de_yong_fa.html" %} class="active" {% endif %} href="/advance/module/ming_ling_xing_cha_kan_module_de_yong_fa">命令行查看module的用法</a></li>
            </ul>
        </li>
        <li><a {% if page.url=="/advance/best_practice/zui_jia_shi_yong_fang_fa.html" %} class="active" {% endif %} href="/advance/best_practice/zui_jia_shi_yong_fang_fa">写出更好的Playbook脚本</a></li>
    </ul>
</li>
<li>
    <a {% if page.url=="/reference/tui_jian_de_can_kao_zi_liao.html" %} class="active" {% endif %} href="/reference/tui_jian_de_can_kao_zi_liao">推荐的参考资料</a>
    <ul>
        <li><a {% if page.url=="/reference/yamlyu_fa_ji_chu.html" %} class="active" {% endif %} href="/reference/yamlyu_fa_ji_chu">YAML语法基础</a></li>
        <li><a {% if page.url=="/reference/dai_xu.html" %} class="active" {% endif %} href="/reference/dai_xu">待续</a></li>
    </ul>
</li>
<li>
    <a {% if page.url=="/reference/resources.html" %} class="active" {% endif %} href="/reference/resources">《Ansible快速入门》实体书资源</a>
    <ul>
        <li><a {% if page.url=="/reference/link_resources.html" %} class="active" {% endif %} href="/reference/link_resources">《Ansible快速入门》链接资源列表</a></li>
        <li><a {% if page.url=="/reference/errata.html" %} class="active" {% endif %} href="/reference/errata">《Ansible快速入门》勘误表</a></li>
    </ul>
</li>
</ul>
